/* Header Section */

.header {
	font-family: "Verdana", sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: mediumaquamarine;
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 1;
	display: flex;
	justify-content: space-between;
}

.logo {
	margin: 0px 20px;
	border: 1px solid black;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.logo p {
	margin: 0px 20px;
}

.nav {
	margin: 0px 50px;
	display: inline-flex;
	align-items: center;
}

.nav li {
	width: 60px;
	display: inline-block;
}

.nav a {
	color: #000;
}

/* Main Content */

.main {
	border: 1px solid black;
	position: relative;
	padding: 80px 10px;
	display: flex;
}

.column {
	border: 1px solid black;
	display: flex;
	justify-content: space-between;
}

.column.large {
	border: 1px solid black;
	width: 630px;
	display: flex;
}

.column.medium {
	border: 1px solid black;
	width: 300px;
	display: flex;
}

.column.small {
	border: 1px solid black;
	width: 240px;
	display: flex;
}

.photo {
	border: 1px solid black;
}

.story {
	border: 1px solid black;
}